@{    

        ViewBag.Title = "Battle Royale | Scandere Scalam";
        ViewBag.Message = "Lorem Ipsum";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/sammy/sammy.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.debug.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout.mapping-latest.debug.js")"></script>
}
    <!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Current standings</h2>
        <ol>
            <li><a href="#User/osymes">Owen Symes</a></li>
            <li><a href="#User/osymes">Ash Bryant</a></li>
            <li><a href="#User/osymes">Willy Berger</a></li>
            <li><a href="#User/osymes">Kenese Lautusi</a></li>
            <li><a href="#User/osymes">Jono Smells</a></li>
        </ol>
    </div>
    <div class="span8">
        <div class="hero-unit">
            <h1>@ViewBag.Message</h1>
        </div>
        <h2>Heading</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a class="btn" href="#">View details &raquo;</a>
        </p>
    </div>
    
</div>
<script type="text/javascript">

    var ladderViewModel = function () {
        
        var self = this;
        //self.isLoading = ko.observable(false);
       // self.isAdmin = ko.observable(false);

        self.showHome = ko.observable(false);

        Sammy(function () {

            this.get('#home', function () {
                self.showHome(true);
            });
            
            this.get('', function () { this.app.runRoute('get', '#home'); });
        }).run();
    };

    //Create and bind to the view model
    var vm = new ladderViewModel();
    ko.applyBindings(vm);

    //start the signalr hub connection
//    $.connection.hub.start()
//        .done(function () {
//            vm.init();
//        });

</script>